@model IEnumerable<PitchType>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">  قائمة انواع الملاعب</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">
            <i class="fa fa-plus"></i> اضافة نوع ملعب
        </a>
    </div>
</div>

<br />

<div>
    <table class="table table-striped border">
        <thead>
            <tr class="table-info">
                <th>
                    الاسم
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <partial name="_ButtonPartial" model="@item.Id"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var save = '@TempData["save"]';
            var deleteMessage = '@TempData["delete"]';
            if (save && save !== '') {
                alertify.success(save);
            }
            if (deleteMessage && deleteMessage !== '') {
                alertify.error(deleteMessage); 
            }
        });
    </script>
}
